@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}


/* enforcing the height, so comps dont extend the view size */
html, body, #root {
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}


html::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 130%;
  z-index: -1;
  background: url(/wp2.jpg);
  transform: scale(3);
  filter: blur(10px);
}